
/* TUDO É BOX*/

body {
    background-color: #e5e5e5;
    color: #24282b;
    font-family: 'Montserrat', sans-serif;

    margin: 0;
}

body.hideScroll {
    overflow: hidden;
}

a {
    color: #ff5E84;
    font-weight: bold;
    text-decoration: none;
    
}

a:hover {
   text-decoration: underline;
}

p, .description {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
}

.button {
    background-color: #ff5E84;
    background: white;

    width: 150px;
    height: 40px;

    font-size: 14px;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 8px;
    
    cursor: pointer;

    margin-left: 10px;
    margin-top: 32px;

    grid-column: 2;
    justify-self: end;

    transition: 400ms;

}

.button:hover {
    background-color: #0984e3;
    text-decoration: none;
}

form button {
    background-color: #ff5E84;
    background: white;

    width: 150px;
    height: 40px;

    font-size: 14px;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 8px;
    
    cursor: pointer;

    
    margin-top: 32px;

    grid-column: 2;
    justify-self: end;

    transition: 400ms;

}

form button:hover {
    background-color: #0984e3;
    color: white;

    text-decoration: none;

    justify-content: end;

}





#container {
    width: 80%;
    max-width: 980px;

   margin: 40px auto;

    display: flex; /* COLOCA AS TAG (FILHOS) EM LINHA */
}

#intro {
    width: 300px;
    margin-right: 20px;
}

main {
    margin: 32px 0;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 32px;
}

button {
    color: #ff5E84;
    background: none;

    border: none;

    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    letter-spacing: 0.2px;

    cursor: pointer;

    outline: none;

}

button:hover {
    text-decoration: underline;
}


a.button {
    color: white;
    background: #ff5E84;
    
    width: 150px;
    height: 40px;

    border-radius: 6px ;
    box-shadow: 0px 8px 16px rgba(255, 0, 95, 0.16);
}

a.button:hover {
    text-decoration: none;


}

#footer {
    text-align: center;   

    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.2px;

    color: #777;
}

.ideia {
    display: flex;

    background-color: #fff;
    box-shadow: 0 4px 10px -8px rgba(1, 1, 1, 0.1);

    padding: 32px;
    margin-bottom: 32px;
    
    border-radius: 8px;
}

.ideia img {
    width: 60px;
    height: 60px;

    margin-right: 32px;
}

.ideia h3 {
    margin: 0;
}

.ideia p {
    margin: 8px 0;

    color: #777;
}

.ideia .description {
    margin: 16px 0;
    
}

/*COLOCANDO MODAL EM CIMA DO HEADER*/

#modal {
    background: #ff5E84;

    position: absolute;

    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

   /* width: 100vw;
    height: 100vw;*/

    display: flex;
    justify-content: center;

    transition: 400ms;

}

#modal.addScroll {
    overflow: auto;
}

#modal.hide {
    /*display: none; => nao aceita a propriedade transitio*/
    opacity: 0;
    visibility: hidden;
}

#modal .content {
    margin-top: 15%;

    color: white;
}

#modal .content  h1{
    text-align: center;

    text-transform: uppercase;
}

#modal  form {
    width: 80%;
    max-width: 800px;

    margin: 0 auto 15%;

    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 20px;
    
}

form input, textarea {
    width: 100%;

    padding: 12px;

    box-sizing: border-box;

    border-radius: 6px;
    border: 1px solid rgb(182, 41, 74,0.1);

    outline: none;

    font-size: 16px;
}

form label {
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.8px;

}

form a {
    width:150px ;
    height: 40px;

    color: white;
    background-color: #ffffff22;

   

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 14px;
    font-weight: bold;

    align-self: end;
    

    border-radius: 6px;

    transition: 400ms;
}

form a:hover {
    background:#fff ;
    color: #ff5E84;

    text-decoration: none;

}





.content form div:nth-child(3),
.content form div:nth-child(4),
.content form div:nth-child(5) {
    grid-column: span 2;
}


/* IDEIA.HTML*/

#page-ideias #container {
    display: block;
}
#page-ideias header {
    display: flex;
    justify-content: space-between;
}

#page-ideias nav {
    display: flex;
    align-items: center;

}

#page-ideias nav li {
    list-style-type:none ;

    margin-right: 16px;
}

#page-ideias nav li a {
    color: #24282b;
}

#page-ideias nav li a.button {
    color: #fdfeff;
}

#page-ideias nav li:last-child {
    margin-right: 0;  
}



#page-ideias nav li:last-child a:hover {
    background-color: #0984e3;
    text-decoration: none;
}

#page-ideias section#titulo {
    text-align: center;

}

#page-ideias section#titulo p {
    opacity: 0.7;
    margin: 0;
}

#page-ideias section#titulo h1 {
    margin: 0;
    font-size: 28px;
}

#page-ideias footer {
    text-align: center;
}

#page-ideias section#ideias {
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 20px;
}

#page-ideias .ideia {
    margin: 0;
}

#page-ideias section#titulo,
#page-ideias section#ideias,
#page-ideias footer {
    margin-top: 64px;
}